<section id="about" class="wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="../Content/img/AbbRobotları.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>Sadece bugünü değil, geleceği de düşünerek geliştirilebilir hizmetler </h2>
                <h3>
                    Demircioğlu Robotik 2012 yılında MD Mühendislik(2006) firmasının devamı niteliğinde firmanın kurumsallaşma vizyonu çerçevesinde kurulmuştur.
                </h3>
                <p>
                    Firmamız otomotiv sektöründa hat kurucu olarak hizmet vermektedir. Ticari ve binek araç üretim tesislerinin kurulumunu, modernizasyonunu, kapasite artımına yönelik yeni hat ve istasyonlar kurulumunu gerçekleştirmekteyiz. Üretim tesislerinin kaynak, boyahane ve montaj atölyelerinde robotlu ve manuel istasyonlar, konveyör hatları, Proses kabinleri, fırınlar ve skid, sehpa, jig tasarım/üretimine kadar geniş bir ürün yelpazesi ile hizmet vermekteyiz. Kısaca otomotiv sektörünün ihtiyaç duyduğu her alanda hizmet vermekteyiz.
                </p>
                <p>
                    Firmamızın bir diğer üreim kolu ise mekatronik sistemlerdir. Embedded mimari elektronik kart ve yazılımları, bilgisayar tabanlı otomasyonlar ve her türlü mekanik yapının üretimini gerçekleştirmekteyiz.
                </p>
            </div>
        </div>

    </div>
</section><!-- #about -->
<section id="services">
    <div class="container">
        <div class="section-header">
            <h4 class="title"><a style="color: #bd1622; font-weight: bold;">Vizyonumuz</a></h4>
            <p>
                Müşteri memnuniyetine bağlı ve sürekli gelişmeye odaklı verimli  ve çevre dostu çözümler üreterek sektörümüzde söz sahibi olmak, ülkemizin küresel pazara olan bağımlılığını azaltarak ülke ekonomisine katkıda bulunmaktır.
            </p>
            <br />
            <h4 class="title"><a style="color:#bd1622; font-weight:bold;">Misyonumuz</a></h4>
            <p>
                AR-GE çalışmaları yaparak ülkenin dışa bağımlılığını azaltmak. Teknolojiden faydalanmanın yansıra teknolojinin gelişimine katkı sağlamak. Her ölçekten üreticinin kolay kullanabileceği, uygun maliyetlerle temin edilebilecek ileri teknolojiye sahip ürün ve projeler üretmek. Kaliteyi geliştirmek ve sürekliliğini sağlamak. Sadece bugünü değil, geleceği de düşünerek geliştirilebilir hizmetler sunmak. Mevcut müşterilere en iyi hizmeti vererek, müşteri portföyümüzü arttırmak.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="box wow fadeInLeft">
                    <div class="icon"><i class="fas fa-lightbulb"></i></div>
                    <h4 class="title"><a href="">İnovasyon</a></h4>
                    <p class="description">Müşterilerimiz için yeni dijital stratejiler ve kaliteli ürünler bulmak için her zaman çalışıyoruz.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight">
                    <div class="icon"><i class="fas fa-check-circle"></i></div>
                    <h4 class="title"><a href="">Uygulama Devreye Alma</a></h4>
                    <p class="description">Tasarım, programlama, simülasyon ve robotik uygulama devreye alma.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="icon"><i class="fas fa-wrench"></i></div>
                    <h4 class="title"><a href="">Deneyim</a></h4>
                    <p class="description">15 senelik mühendislik deneyimimiz ile müşterilerimize profesyonel hizmet sunuyoruz. </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="box wow fadeInRight" data-wow-delay="0.2s">
                    <div class="icon"><i class="fab fa-whmcs"></i></div>
                    <h4 class="title"><a href="">Robotlu Özel Çözümler</a></h4>
                    <p class="description">Proses geliştirme çalışamaları ile ihtiyaç duyulan robotlu çözümler.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- #services -->
