<!--==========================
  Intro Section
============================-->
<section id="intro">
    <div class="intro-content">
        <h2><br>Hayallerinizle teknolojiyi<br>buluşturuyoruz.<br> <a href="@Url.Action("Contact","Home")" class="btn-projects scrollto">Tanıtım Videomuz</a></h2>
    </div>
</section><!-- #intro -->
<main id="main">
    <div class="owl-carousel">
        <div class="item" style="background-image: url('../Content/img/technology.jpg');"></div>
    </div>
    <section id="testimonials3" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Teknoloji sayesinde herkesin kapısı, kocaman bir pencereye dönüşebiliyor.                       
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <h3>Daniel Palmer</h3>
                    <h4>Roman Yazarı</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Teknoloji hem yararlı bir hizmetçi hem de tehlikeli bir ustadır.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <h3>Christian Louise Lange</h3>
                    <h4>Tarihçi</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Artık insanlık değil, teknoloji ilerliyordu. Uygarlıklar değil, teknolojiler gelişiyordu.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <h3>Azra Kohen</h3>
                    <h4>Yazar</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Teknoloji hareketleri kesin ve acımasız yapıyor. Bununla birlikte insanları da.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <h3>Theodor Adorno</h3>
                    <h4>Filozof</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <img src="~/Content/img/quote-sign-left.png" class="quote-sign-left" alt="">
                        Kişisel bir bilgisayar, zekâmızın bir parçası olarak bize destek olan araçtır.
                        <img src="~/Content/img/quote-sign-right.png" class="quote-sign-right" alt="">
                    </p>
                    <h3>Steve Jobs</h3>
                    <h4>Bilgisayar Uzmanı</h4>
                </div>
            </div>
        </div>
    </section>
</main>