<!--==========================
  Testimonials Section
============================-->
<section id="testimonials" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>TAMAMLANAN PROJELERİMİZ</h2>
            @*<p>Hayata geçirilen örnek projelerimiz...
                </p>*@
        </div>
        <div class="row">

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>
            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

        </div>

    </div>
</section><!-- #testimonials -->
<!--==========================
  Testimonials2 Section
============================-->
<section id="testimonials" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>DEVAM EDEN PROJELERİMİZ</h2>
            @*<p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>*@
        </div>
        <div class="row">

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>
            <div class="testimonial-item content">
                <img src="../Content/img/proje1.png" class="testimonial-img" alt="">
                <h3>
                    Jig Tasarım & imalatları
                </h3>
                <h4>Ford OTOSAN</h4>
                <p>
                    <i class="fa fa-check"></i>V326 model araç için jig tasarım ve analizler
                </p>
                <p>
                    <i class="fa fa-check"></i>30 kg çok eksenli jig alternatifi tek eksen 6kg jig
                </p>
                <p>
                    <i class="fa fa-check"></i>  Tüm modeller için
                </p>

            </div>

        </div>

    </div>
</section><!-- #testimonials -->
