<main id="main">
    <section id="about" class="wow fadeInUp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-img">
                    <img src="~/Content/img/AbbRobotları.jpg" alt="">
                </div>

                <div class="col-lg-6 content">
                    <h2>Uzmanlık Alanlarımız</h2>

                    <ul>
                        <li>
                            <i class="fa fa-check"></i> Yeni Proses Tasarım ve Geliştirilmesi
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Sistem Entegrasyonu & Proje Yönetimi
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Mekanik, Elektrik, Elektronik, Pnömatik Tasarım
                        </li>
                        <li>
                            <i class="fa fa-check"></i>Katı Modelleme & Sonlu Elemanlar Analizi
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Güvenlikli ve Ergonomik  Sistem Tasarımı & Üretim
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Yazılım ve Kontrol Sistemleri Tasarımı
                        </li>
                        <li>
                            <i class="fa fa-check"></i>Otomasyon ve Yalın Süreç Tasarımı
                        </li>
                        <li>
                            <i class="fa fa-check"></i> 6 eksen Robot Entegrasyonu
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Esnek Üretim Sistemleri
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Montaj Hücreleri, Kaynak Hücreleri, Montaj Hatları
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Yapay Görme Sistemleri
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Sahada Ekipmanlar Montajı ve Devreye Alma
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Gömülü Mimari Elektronik Kartlar Tasarım, Üretim ve Programlama
                        </li>
                        <li>
                            <i class="fa fa-check"></i> Medikal Robot Tasarım & Üretim
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </section>


    <section id="testimonials2" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2> OTOMOTİV SEKTÖRÜ UZMANLIK ALANLARIMIZ</h2>
            </div>
            <div class="row">



                <div class="testimonial-item content">
                    <h3>
                        BOYAHANE ATÖLYESİ

                    </h3>
                    <p>
                        Pt/ec Hattı Ve Pendulum Konveyörü,
                    </p>
                    <p>
                        Ec, Astar, Son Kat, Sealer Fırınları Ve Konveyörleri
                    </p>
                    <p>
                        Skid Konveyörleri, Ttb, Csc Ve Lift Sistemleri, Hanger Konveyör Sistemleri, Fırın Konveyörleri, Skid Değişim Istasyonları
                    </p>
                    <p>
                        Proses Ve Boya Kabinleri
                    </p>
                    <p>
                        Emu Gövde Temizleme Robotu
                    </p>
                    <p>
                        Arp Havalandırma Ve Iklimlendirme Sistemleri
                    </p>
                    <p>
                        Manuel Ve Robotik Sealer Istasyonları
                    </p>
                    <p>
                        Manuel Ve Robotik Pvc Istasyonları
                    </p>
                    <p>
                        Wax Makinası, Wax Kurutma Fırını
                    </p>
                    <p>
                        Skid, Jig Ve Sehpalar

                    </p>
                    <p>
                        Buffer Alanları
                    </p>

                </div>

                <div class="testimonial-item content">

                    <h3>
                        MONTAJ ATÖLYESİ
                    </h3>

                    <p>
                        Havadan Konveyör Sistemleri
                    </p>
                    <p>
                        Hanger Konveyör Sistemleri
                    </p>
                    <p>
                        Bant Konveyör Sistemleri
                    </p>
                    <p>
                        Montaj Istasyonları Ve Manüpilatörler
                    </p>
                    <p>
                        Skid Ve Zincir Konveyör Sistemleri
                    </p>
                    <p>
                        Trim Hatları
                    </p>
                    <p>
                        Şanzuman Toplama, Motorhane Ve Motor Numara Vurma Ekipmanları
                    </p>
                    <p>
                        Decking Motor Birleştirme Hattı
                    </p>
                    <p>
                        Lastik Hattı
                    </p>
                    <p>
                        Cam Yapıştırma Istasyonu
                    </p>
                    <p>
                        Crab Hattı
                    </p>
                    <p>
                        Şase Hatları

                    </p>


                </div>
                <div class="testimonial-item content">

                    <h3>
                        KAYNAK ATÖLYESİ
                    </h3>
                    <p>
                        Şase Hatlari
                    </p>
                    <p>
                        Tavan Hatlari
                    </p>
                    <p>
                        Yan Panel Hatlari
                    </p>
                    <p>
                        Ön Kaput, Kapi, Bagaj Hatlari
                    </p>
                    <p>
                        Manuel Ve Robotik Punta Kaynak Istasyonları ve Istasyonlar Arası Monoray Vinç Sistemleri
                    </p>
                    <p>
                        Gövde, Yan Panel, Kaput, Tavan, Kapı, vb Ara Mamül Fikstürleri
                    </p>
                    <p>
                        Manipülatörler
                    </p>
                    <p>
                        Gövde Evlendirme Istasyonu
                    </p>
                    <p>
                        Zincir Aktarma Ve Skid Konveyör Sistemleri
                    </p>
                    <p>
                        Lazer Kaynak/kesİm İstasyonlari
                    </p>
                    <p>
                        Kalİte Kontrol Kabİnlerİ
                    </p>
                    <p>
                        Buffer Alanları
                    </p>
                </div>

            </div>

        </div>
    </section>
    <!--==========================
        Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>FOTOĞRAFLARIMIZ</h2>
                @*<p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>*@
            </div>
        </div>

        <div class="container-fluid">
            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje1.png" class="portfolio-popup">
                            <img src="../Content/img/proje1.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje5.jpg" class="portfolio-popup">
                            <img src="../Content/img/proje5.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje4.png" class="portfolio-popup">
                            <img src="../Content/img/proje4.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje1.png" class="portfolio-popup">
                            <img src="../Content/img/proje1.png  " alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje5.jpg" class="portfolio-popup">
                            <img src="../Content/img/proje5.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje4.png" class="portfolio-popup">
                            <img src="../Content/img/proje4.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje1.png" class="portfolio-popup">
                            <img src="../Content/img/proje1.png" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="portfolio-item wow fadeInUp">
                        <a href="../Content/img/proje5.jpg" class="portfolio-popup">
                            <img src="../Content/img/proje5.jpg" alt="">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->
</main>